.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;

  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(39, 37, 37);
  padding: 15px;
  font-size: 15px;
}

.form__label {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 10px;
  margin-bottom: 10px;
}

.form__button {
  font-size: 13px;
  margin-top: 15px;
  color: white;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 3% 5%;
  margin: 0 auto;
}

.form__button:hover {
  background-color: #2c8ddd;
}

.form__input {
  width: 100%;
  font-size: 15px;
  padding-left: 10px;
  padding: 7px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
